html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    /*background-color: #343434;*/
    background-color: #242424;
  }
  
  .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  #Imagen {
    z-index: -1;
    position: absolute;
    width: 1080;
    height: 1080px;
    overflow: hidden;
    top: -5%;
    left: -5%;
  }
  
  #Personaje {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
  } 
  
  #Imagen2 {
    z-index: -1;
    position: absolute;
    width: 1080px;
    height: 1080px;
    overflow: hidden;
    top: -5%;
    left: 49%;
  }
  #Personaje2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    transform: scaleX(-1);
  }  
  .profile-image {
    margin-top: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
  }
  
  
  .profile-text {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 15px;

    text-shadow: 0 5px 20px rgb(0, 0, 0);

  }

.Presentacion {
    display: flex;
    justify-content: center;
    margin-top: -3%;
}

.contenidoPresentacion {
    display: flex;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    height: 100px;
}

#contenido {
    height: 60px;
    margin-top: 22px;
    margin-left: 10px;
    overflow: hidden;
}

#bienvenido {
    font-size: 50px;
    font-family: arial;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 0px white;
}

.mensaje {
    position: relative;
    font-size: 50px;
    font-family: arial;
    color: rgb(0, 217, 255);
    text-align: center;
    animation: animacionsaludo infinite alternate-reverse;
    animation-duration: 6s;
    text-shadow: 0 0 10px rgb(0, 255, 208), 0 0 10px rgb(0, 0, 0);
}

@keyframes animacionsaludo {
  0% {
      top: -378px;
  }

  15% {
      top: -378px;
  }

  20% {
      top: -269px;
  }

  40% {
      top: -269px;
  }

  45% {
      top: -162px;
  }

  65% {
      top: -162px;
  }

  70% {
      top: -53px;
  }

  90% {
      top: -53px;
  }

  100% {
      top: -53px;
  }
}
  
  .linktree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 92px;
  }

  .icon {
    width: 50px;
    float: left;
    margin-top: 1.5%;
    margin-left: 1.5%;
    transition: all 0.5s;
  }

  .linktree a {
    margin: 15px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    width: 1000px;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: inline-block;
    backdrop-filter: blur(5px);
    margin-left: -10px;
  }

  .textoLink {
    text-decoration: none;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 10px rgb(255, 255, 255);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: inline-block;
    margin-left: -45px;
  }

  #HacheLogo {
    width: 50px;
    float: left;
    margin-top: 1.5%;
    margin-left: 1.5%;

  }
  
  .linktree a:hover {
    background-color: #00e5ff76;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2), 0 0 10px white, 0 0 10px white, 0 0 50px white;
    transition-delay: 0.1s;
    width: 500px;
  }
  .linktree a:hover .icon {
    margin-top: 2.6%;
    margin-left: 1.5%;
  }

/* Regla para pantallas con un ancho máximo de 600px */
@media only screen and (max-width: 600px) {
  #Imagen {
    width: 100%;
    height: auto;
    top: -10%;
    left: -100%;
    width: 300%;
    opacity: 20%;
  }

  #Imagen2 {
    display: hidden;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }

  .profile-text {
    font-size: 30px;
    margin-top: 10px;
  }

  .Presentacion {
    flex-direction: column;
    margin-top: -8%;
  }

  .contenidoPresentacion {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  #contenido {
    margin-top: 7px;
    height: 50px;
  }

  #bienvenido {
    font-size: 25px;
    margin-top: 15px;
  }

  .mensaje {
    font-size: 25px;
    top: -15px;
  }

  .linktree {
    margin-top: -5%;
  }

  .linktree a {
    width: 80%;
    margin: 10px;
  }

  .linktree a:hover {
    width: 220px;
  }

  #HacheLogo {
    width: 40px;
    padding-left: 2px;
    padding-top: 3.5px;
  }

  .icon {
    width: 35px;
    padding-left: 2px;
    padding-top: 3.5px;
  }

  .textoLink {
    font-size: 18px;
    margin-left: 0;
  }

  @keyframes animacionsaludo {
    0% {
      top: -15px;
    }
  
    15% {
      top: -15px;
    }
  
    20% {
      top: -72px;
    }
  
    40% {
      top: -72px;
    }
  
    45% {
      top: -132px;
    }
  
    65% {
      top: -132px;
    }
  
    70% {
      top: -189px;
    }
  
    90% {
      top: -189px;
    }
  
    100% {
      top: -189px;
    }
  }
}
